.meal {
    @apply min-h-[100vh];
    background-image: url(/src/assets/bg.png);
    margin-top: -2px;
    background-size: cover;
}


.meal .container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
}

@media (width <= 776px) {
    .meal .container {
        flex-direction: column;
    }
}